:root {
    --panelWidth: min(40ch, 100% - 1rem);
    --gridColumns: 2;
    --gridGap: 2rem;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 200,
        'opsz' 24
}

header {
    background-color: black !important;
}

main {
    margin-block: 1em;
}

#riddles {
    width: min(var(--panelWidth) * var(--gridColumns) + var(--gridGap), 100% - var(--gridGap)) !important;
    display: grid;
    margin-inline: auto;
    grid-auto-rows: auto;
    justify-content: center;
    gap: var(--gridGap);
    grid-template-columns: repeat(auto-fill, var(--panelWidth));
}

section>form {
    position: relative;
    font-size: 1.1rem;
    border-radius: 8px;
    border: 1px solid gray;
    padding: 1rem;
    overflow-y: auto;
    box-shadow: black -8px 8px;
}

input:disabled {
    border-color: green !important;
    color: green;
}

.failedAnswer {
    transition: color 400ms;
    border-color: tomato !important;
    color: tomato;
    outline: none !important;
}

.riddleHeader {
    display: flex;
}

.riddleTitle {
    flex: 1 1 70%;
}

.clue {
    flex: 1 1 30%;
    font-size: 1.1rem;
    max-height: 4ch;
    padding-inline: 1ch;
    border-radius: 24px;
    border: 2px solid hsl(0deg, 0%, 25%);
    background-color: rgba(0, 0, 0, 50%);
    text-shadow: black 0 0 2px;
    color: white;
}

.clue:hover {
    border-color: rgba(255, 255, 255, 50%);
}

.clueDialog::before {
    content: '';
    position: absolute;
    right: calc(1rem + 4ch);
    top: -0.75rem;
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 0.75rem solid black;
    z-index: 2;
}

.closeClue {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1ch;
    vertical-align: middle;
    cursor: pointer;
}

.clueDialog {
    position: absolute;
    top: calc(1rem + 4ch);
    right: 0;
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 8px;
    max-width: var(--panelWidth);
    box-shadow: 0 0 1em black;
    z-index: 1;
}

.clue span {
    vertical-align: middle;
    float: right;
}

.riddleContent {
    margin-top: 1ch;
    margin-bottom: 5ch;
}

.riddleFooter {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem);
}

.riddleFooter input {
    font-size: 1.1rem;
    width: calc(100% - 10ch);
    height: 4ch;
    padding-inline: 1ch;
    border: 2px solid gray;
    border-radius: 16px 0px 0px 16px;
    transition: all 0.3s;
}

.riddleFooter button {
    font-size: 1.1rem;
    position: absolute;
    width: 10ch;
    height: 4ch;
    right: auto;
    padding-inline: 1ch;
    border: 2px solid gray;
    border-left-width: 0;
    border-radius: 0px 16px 16px 0px;
    background-color: rgba(0, 0, 0, 10%);
    cursor: pointer;
}