@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab:wght@700&display=swap');

html {
    color-scheme: light dark;
}

* {
    font-family: 'Nunito', sans-serif, system-ui;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 5rem;
    max-height: 25%;
    height: auto;
    padding: 5px 10%;
    top: 0px;
    left: 0px;
    position: sticky;
    width: 100%;
    z-index: 50;
}

header h1 {
    font-family: 'Roboto Slab', serif, system-ui;
    color: white;
    cursor: pointer;
}

header .logo {
    flex: 1 1 10%;
    text-shadow: 0.1em 0.1em 0.3em black;
    transition: all 0.3s;
}

header .logo:hover {
    text-shadow: 0.3em 0.3em 0.3em black;
}

header nav {
    flex: 1 1 65%;
}

header .formB {
    flex: 1 1 25%;
}

header .navbar {
    list-style-type: none;
}

header .navbar li {
    display: inline-block;
    padding: 0 1rem;
    border-radius: 32px;
    text-shadow: 0.1em 0.1em 0.3em black;
}

header .navbar li:hover {
    background-color: rgb(255, 255, 255, 4%);
    text-shadow: 0.3em 0.3em 0.3em black;
}

header .navbar a {
    color: white;
}

header button {
    background-color: white;
    color: black;
    padding: 9px 25px;
    margin: 0.2rem 2%;
    border-radius: 32px;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.3s ease 0s;
}

label {
    pointer-events: none;
}

header button:hover {
    background-color: hsl(0deg, 0%, 8%);
    color: white;
    transform: scale(1.1);
    box-shadow: 0em 0.3em 1em rgb(0, 0, 0, 50%);
}

li {
    position: relative;
}

:is(#gameLi:hover) #games {
    display: flex !important;
}

#games {
    display: none;
    width: auto;
    gap: 1rem;
    height: calc(48px + 2.4rem);
    position: absolute;
    background-color: rgba(0, 0, 0, 50%);
    border: 2px solid rgba(255, 255, 255, 50%);
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 24px;
    left: 0;
}

#games img {
    margin: auto;
    margin-top: 0;
    cursor: pointer;
}

#games label {
    color: white;
    font-size: 0.9rem;
    position: absolute;
    text-align: center;
    width: 48px;
    bottom: 0.4rem;
}

#games label:nth-of-type(1) {
    left: 1rem;
}

#games label:nth-of-type(2) {
    right: 1.25rem;
}