@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab:wght@700&display=swap');

html {
    color-scheme: light dark;
}

* {
    font-family: 'Nunito', sans-serif, system-ui;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header h1 {
    font-family: 'Roboto Slab', serif, system-ui;
    color: white;
    cursor: pointer;
}

header {
    background-color: transparent;
    backdrop-filter: blur(1.5rem);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 5rem;
    max-height: 25%;
    height: auto;
    padding: 5px 10%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: sticky;
    width: 100%;
    z-index: 50;
    box-shadow: none;
}

header .logo {
    flex: 1 1 10%;
    text-shadow: 0.1em 0.1em 0.3em black;
    transition: all 0.3s;
}

header .logo:hover {
    text-shadow: 0.3em 0.3em 0.3em black;
}

header nav {
    flex: 1 1 65%;
}

header .formB {
    flex: 1 1 25%;
}

header .navbar {
    list-style-type: none;
}

header .navbar li {
    display: inline-block;
    padding: 0 20px;
    border-radius: 32px;
    text-shadow: 0.1em 0.1em 0.3em black;
}

header .navbar li:hover {
    background-color: rgb(255, 255, 255, 4%);
    text-shadow: 0.3em 0.3em 0.3em black;
}

header .navbar a {
    color: white;
    text-decoration: none;
}

header button {
    background-color: white;
    color: black;
    text-align: center;
    padding: 9px 25px;
    margin: 0.2rem 2%;
    border-radius: 32px;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.3s ease 0s;
}

header button:hover {
    background-color: hsl(0deg, 0%, 8%);
    color: white;
    transform: scale(1.1);
    box-shadow: 0em 0.3em 1em rgb(0, 0, 0, 50%);
}