:root {
    --paragraph-width: 45ch;
    --panelOffset: 8rem;
    --border-radius: 16px;
    --glassBorder-padding: 2px;
    --highlightPosition: ellipse at top right;
    --shadowPosY: 1em;
    --shadowPosX: 0em;
    --glassHighlightGradient: radial-gradient(var(--highlightPosition), rgba(255, 255, 255, 25%), transparent);
    --boxShadowDispersion: 1em;
    --invalidColor: hsl(360, 64%, 32%);
    --usernameRequirements: 'Ingrese al menos 4 caracteres alfanuméricos y no más de 16. No puede contener símbolos especiales (Se permiten símbolos separadores).';
    --passwordRequirements: 'Debe contener al menos un número, una letra mayúscula, letra minúscula y al menos 8 o más caracteres con un límite de 24.';
}

body {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

header {
    box-shadow: 0em 0.3em 2em rgba(0, 0, 0, 75%) !important;
    position: fixed !important;
}

.signup {
    display: none;
}

a {
    text-decoration: none;
}

.glass {
    background-image: var(--glassHighlightGradient);
    backdrop-filter: blur(20px);
    background-clip: padding-box;
}

.panel {
    height: auto;
    width: min(var(--paragraph-width), 100% - 4rem);
    border-radius: var(--border-radius);
    border: 2px solid rgba(255, 255, 255, 10%);
    text-shadow: 0px 1px 2px black;
    padding: 1.6rem;
    margin: auto;
    margin-top: var(--panelOffset);
    transition: margin-top 0.3s;
    box-shadow:
        var(--shadowPosX) var(--shadowPosY) var(--boxShadowDispersion) rgba(0, 0, 0, 50%);
}

form {
    display: grid;
    height: 100%;
}

fieldset {
    border: none;
}

form>fieldset {
    position: relative;
}

form>fieldset>input {
    padding: 1.25rem 0.75rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    margin-bottom: 1rem !important;
    border-radius: 4px;
    border: none;
    outline: 1px solid gray;
    width: 100%;
    background-color: rgba(0, 0, 0, 25%);
    color: white;
    transition: box-shadow 1s;
}

form>fieldset>input[type='date'] {
    padding: 0.75rem !important;
}

form>button[type='submit'] {
    background-color: var(--invalidColor);
    color: white;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 10%);
    box-shadow: 0em 0.3em 0.3em rgba(0, 0, 0, 25%);
    height: 2.4rem;
    border-radius: 16px;
    transition: all 0.3s;
}

form>button[type='submit']:hover {
    border: 2px solid hsl(0deg, 0%, 75%);
}

label {
    pointer-events: none;
    color: white;
}

fieldset:has(:required)>label::after {
    content: '*';
    color: tomato;
    font-style: normal;
    margin-left: 0.25ch;
}

fieldset>input:invalid:focus,
fieldset:has(:required):has(.failedSubmit)>input:invalid {
    outline: 1px solid tomato;
    box-shadow: 0em 0em var(--boxShadowDispersion) var(--invalidColor);
    transition: all 1s;
}

fieldset:has(input[id='username']:invalid:focus)::after {
    content: var(--usernameRequirements);
    color: white;
    position: absolute;
    left: -4px;
    right: -4px;
    top: calc(100% - 1px);
    background-color: var(--invalidColor);
    padding: 0.75rem;
    border-radius: 8px;
    box-shadow: 0em 0em var(--boxShadowDispersion) black;
    z-index: 10;
}

fieldset:has(input[id='username']:invalid:focus)::before {
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 0.75rem solid var(--invalidColor);
    top: calc(100% - 0.75rem);
    left: 1rem;
    content: "";
    position: absolute;
    z-index: 11;
}

fieldset>ul {
    border-radius: 4px;
    list-style-type: none;
    background-color: hsl(0deg, 0%, 25%);
    color: white;
    text-shadow: none;
    position: fixed;
    margin-top: calc(-1rem + 1px);
    left: 1.6rem;
    right: 1.6rem;
    box-shadow: 0em 0.3em var(--boxShadowDispersion) black;
    z-index: 16;
}

fieldset>ul:has(li) {
    outline: 1px solid gray;
}

fieldset>ul>li {
    padding: .5em .75em;
    transition: background-color 0.25s;
}

fieldset>ul>li:hover {
    background-color: white;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}

fieldset:has(input[type='password']:invalid:focus)::after {
    content: var(--passwordRequirements);
    color: white;
    position: absolute;
    left: -4px;
    right: -4px;
    top: calc(100% - 1px);
    background-color: var(--invalidColor);
    padding: 0.75rem;
    border-radius: 8px;
    box-shadow: 0em 0em var(--boxShadowDispersion) black;
    z-index: 10;
}

fieldset:has(input[type='password']:invalid:focus)::before {
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 0.75rem solid var(--invalidColor);
    top: calc(100% - 0.75rem);
    left: 1rem;
    content: "";
    position: absolute;
    z-index: 11;
}

fieldset>input:focus {
    box-shadow: 0em 0em var(--boxShadowDispersion) black;
    transition: box-shadow outline 1s;
}

select {
    width: 100%;
    height: 4ch;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    border-radius: 4px;
}

.animatedLabel {
    position: absolute;
    transform-origin: 0 0;
    left: 0.75rem;
    top: 20%;
    transition: 0.1s ease-in-out;
    font-weight: normal;
    text-shadow: none;
}

@media (max-height: 880px) {
    body {
        overflow-y: visible;
    }

    header {
        position: sticky !important;
    }

    .panel {
        margin-top: 2rem !important;
        margin-bottom: 2rem;
    }
}

@media (prefers-reduced-motion) {
    .glass {
        background-image: none;
    }
}