:root {
    --paragraph-width: 45ch;
    --border-radius: 16px;
    --glassBorder-padding: 2px;
    --highlightPosition: ellipse at top right;
    --shadowPosY: 1em;
    --shadowPosX: 0em;
    --glassHighlightGradient: radial-gradient(var(--highlightPosition), rgb(255, 255, 255, 25%), transparent);
    --invalidBoxShadowDispersion: 1em;
    --invalidColor: hsl(360, 64%, 32%);
    --usernameRequirements: 'Ingrese al menos 4 caracteres alfanuméricos y no más de 16. No puede contener símbolos especiales (Se permiten símbolos separadores).';
    --passwordRequirements: 'Debe contener al menos un número, una letra mayúscula, letra minúscula y al menos 8 o más caracteres con un límite de 24.';
}

body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

header {
    box-shadow: 0em 0.3em 2em rgb(0, 0, 0, 75%) !important;
    position: fixed !important;
}

.signup {
    display: none;
}

a {
    text-decoration: none;
}

.glass {
    background-image: var(--glassHighlightGradient);
    backdrop-filter: blur(1.5rem);
    background-clip: padding-box;
}

.panel {
    height: auto;
    width: min(var(--paragraph-width), 100% - 4rem);
    border-radius: var(--border-radius);
    border: 2px solid rgb(255, 255, 255, 10%);
    text-shadow: 0px 1px 2px black;
    padding: 1.6rem;
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 4rem;
    box-shadow:
        var(--shadowPosX) var(--shadowPosY) 1.6em rgb(0, 0, 0, 50%);
}

form {
    display: grid;
    height: 100%;
}

fieldset {
    border: none;
}

form>fieldset {
    position: relative;
}

form>fieldset>input {
    padding: 1.25rem 0.75rem;
    padding-bottom: 0.25rem;
    font-size: 1rem;
    margin-bottom: 1rem !important;
    border-radius: 4px;
    border: none;
    outline: 1px solid gray;
    width: 100%;
    background-color: rgba(0, 0, 0, 25%);
    color: white;
    transition: box-shadow 1s;
}

form>fieldset>input[type='date'] {
    padding: 0.75rem !important;
}

form>button[type='submit'] {
    background-color: var(--invalidColor);
    color: white;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 10%);
    box-shadow: 0em 0.3em 0.3em rgba(0, 0, 0, 25%);
    height: 2.4rem;
    border-radius: 16px;
    transition: all 0.3s;
}

form>button[type='submit']:hover {
    border: 2px solid hsl(0deg, 0%, 75%);
}

label {
    pointer-events: none;
    color: white;
}

fieldset:has(:required)>label::after {
    content: ' (Requerido)';
    color: gray;
    font-size: 0.75rem;
}

fieldset:has(:required):has(.failedSubmit):invalid>label::before {
    content: '* ';
    color: tomato;
    font-size: 0.75rem;
}

fieldset>input:invalid:focus,
fieldset:has(:required):has(.failedSubmit)>input:invalid {
    outline: 1px solid tomato;
    box-shadow: 0em 0em var(--invalidBoxShadowDispersion) var(--invalidColor);
    transition: all 1s;
}

fieldset:has(input[id='username']:invalid:focus)::after {
    content: var(--usernameRequirements);
    color: white;
    position: absolute;
    left: -4px;
    right: -4px;
    top: calc(100% - 1px);
    background-color: var(--invalidColor);
    padding: 0.75rem;
    border-radius: 8px;
    box-shadow: 0em 0em var(--invalidBoxShadowDispersion) black;
    z-index: 10;
}

fieldset:has(input[id='username']:invalid:focus)::before {
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 0.75rem solid var(--invalidColor);
    top: calc(100% - 0.75rem);
    left: 1rem;
    content: "";
    position: absolute;
    z-index: 11;
}

fieldset:has(input[type='password']:invalid:focus)::after {
    content: var(--passwordRequirements);
    color: white;
    position: absolute;
    left: -4px;
    right: -4px;
    top: calc(100% - 1px);
    background-color: var(--invalidColor);
    padding: 0.75rem;
    border-radius: 8px;
    box-shadow: 0em 0em var(--invalidBoxShadowDispersion) black;
    z-index: 10;
}

fieldset:has(input[type='password']:invalid:focus)::before {
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 0.75rem solid var(--invalidColor);
    top: calc(100% - 0.75rem);
    left: 1rem;
    content: "";
    position: absolute;
    z-index: 11;
}

fieldset>input:focus {
    box-shadow: 0em 0em var(--invalidBoxShadowDispersion) black;
    transition: all 1s;
}

select {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 4px;
}

.animatedLabel {
    position: absolute;
    transform-origin: 0 0;
    left: 0.75rem;
    top: 20%;
    transition: 0.1s ease-in-out;
    font-weight: normal;
    text-shadow: none;
}

@media (aspect-ratio < 1),
(aspect-ratio > 20/9),
(max-height:799px) {
    main {
        margin-top: 128px;
    }

    body {
        overflow-y: visible;
    }
}

@media (prefers-reduced-motion) {
    .glass {
        background-image: none;
    }
}